header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    border: 1px solid whitesmoke;
    display:flex;
    flex-direction: row;
    gap:40px;
    width:97vw;
    justify-content:space-around;
    align-items:center;
    height:50px;
    padding: 10px;
    margin:0;
    font-family:Poppins,sans-serif;
}
img{
    padding: 10px;
    width:auto;
    height: 60px;
}
button{
    border:1px solid #2E7D32;
    border-radius: 10px;
    height:30px;
    width:80px;
    background-color: #2E7D32;
    color: white;
}
a{
    text-decoration: none;
    color:black;
    padding:20px;
}
a:hover{
    color:#2E7D32;
    text-decoration: underline #2E7D32;
}
button:hover{
    color:#2E7D32;
    background-color: white;
}